In [1]:
import pandas as pd
import numpy as np

In [2]:
my_ser = pd.Series(['Nov 3, 1990', '2000-01-01', None])

In [4]:
time_series = pd.to_datetime(my_ser)
#перевели объект Series в формат datetime(год, месяц день)

In [5]:
time_series[0].year
#вывели год из первой строки

1990

In [6]:
obv_euro_date = '31-12-2000'

In [7]:
pd.to_datetime(obv_euro_date)
#pandas правильно считал дату

<ipython-input-7-74861a7ef451>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  pd.to_datetime(obv_euro_date)

Timestamp('2000-12-31 00:00:00')

In [8]:
euro_date = '10-12-2000'

In [10]:
pd.to_datetime(euro_date, dayfirst=True)
#также перевели объект в формат datetime и явно указали, что сначала в строке день, потом месяц, потом год

Timestamp('2000-12-10 00:00:00')

In [11]:
style_date = '22--Dec--2000'

In [14]:
pd.to_datetime(style_date, format='%d--%b--%Y')
#также перевели объект со специфичным форматом в формат datetime
# %d - день, %b - месяц, %Y - год.

Timestamp('2000-12-22 00:00:00')

In [15]:
custom_date = '12t of Dec 2000'

In [16]:
pd.to_datetime(custom_date)
#pandas понимает как правильно записать дату и из такой строки

Timestamp('2000-12-12 00:00:00')

In [23]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv')
#можно на этом этапе поменять тип данных колонки, нужно только знать индекс колонки.
#делается это так: pd.read_csv('title.csv', parse_dates = [0])
#индексов можно написать несколько

In [18]:
sales

           DATE  MRTSSM4453USN
0    1992-01-01           1509
1    1992-02-01           1541
2    1992-03-01           1597
3    1992-04-01           1675
4    1992-05-01           1822
..          ...            ...
335  2019-12-01           6630
336  2020-01-01           4388
337  2020-02-01           4533
338  2020-03-01           5562
339  2020-04-01           5207

[340 rows x 2 columns]

In [20]:
sales['DATE'] = pd.to_datetime(sales['DATE'])
#поменяли тип данных в колонке DATE на формат datetime

In [21]:
sales = sales.set_index('DATE')
#сделали индексами колонку DATE

In [22]:
sales.resample(rule='A').mean()
#выели средние значения продаж по годам
#resample(rule'A) - сортировка по годам

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000

In [26]:
sales = pd.read_csv('RetailSales_BeerWineLiquor.csv', parse_dates = [0])

In [27]:
sales['DATE'].dt.year
#вывели значение год во всех строках
#также можно month, day и т.д

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int64